<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
  <form action="https://gmail.us20.list-manage.com/subscribe/post?u=f13d6f5f0d854f4d0b7640cc4&amp;id=726435f6fc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <div class="mc-field-group form-group">
      	<input type="email" value="" aria-label='email' name="EMAIL" class="required email subscribe-email" id="mce-EMAIL" placeholder="youremail@example.com">
      </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
      <input type="text" name="b_f13d6f5f0d854f4d0b7640cc4_726435f6fc" tabindex="-1" value=""></div>
      <!-- <button class="" type="submit" value="Subscribe" id="mc-embedded-subscribe" {% unless site.subscribe %}disabled{% endunless %}><span>Subscribe</span></button> -->
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
  </form>
</div>

<!--End mc_embed_signup-->
